<%- partial('_partial/head') %>

<body>
  <header class="banner"><%- partial('_partial/header') %></header>


  <div class="parallax-container">
    <div class="parallax"><img src="http://ww1.sinaimg.cn/large/a243ad6cjw1f09scm47ngj21kw1661kx.jpg"></div>
  </div>
  <div class="section white z-depth-2">
    <div class="row container">

  <section class="main">
    <%- body %>
    <div class="clearfix"></div>
  </section>

 </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="http://ww2.sinaimg.cn/large/a243ad6cjw1f09scpufkcj21kw16o1kx.jpg"></div>
  </div>

  <footer class="site-footer"><%- partial('_partial/navigator') %></footer>
  <footer class="page-footer z-depth-1"><%- partial('_partial/foooter') %></footer>
  <%- partial('_partial/after_footer') %>
</body>
</html>
