<%- partial('_partial/head') %>
<body>
  <div class="site-navifator"><%- partial('_partial/navigator') %></div>
  <div class="section z-depth-2">
    <div class="row container">
    <section class="main">
      <%- body %>
    </section>
    </div>
  </div>
  <footer class="page-footer z-depth-1"><%- partial('_partial/footer') %></footer>
  <%- partial('_partial/after_footer') %>
</body>
</html>
