<%- partial('_partial/head') %>

<body>
  <header class="banner"><%- partial('_partial/header') %></header>


  <div class="parallax-container">
    <div class="parallax"><img src="http://7xs4ih.com1.z0.glb.clouddn.com/parallax1.jpg"></div>
  </div>
  <div class="section z-depth-2">
    <div class="row container">

  <section class="main">
    <%- body %>
    <div class="clearfix"></div>
  </section>

 </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="http://7xs4ih.com1.z0.glb.clouddn.com/parallax2.jpg"></div>
  </div>

  <footer class="site-footer"><%- partial('_partial/navigator') %></footer>
  <footer class="page-footer z-depth-1"><%- partial('_partial/foooter') %></footer>
  <%- partial('_partial/after_footer') %>
</body>
</html>
